[submodule "themes/hugo-shortcode-roneo-collection"]
	path = themes/hugo-shortcode-roneo-collection
	url = https://gitlab.com/Roneo/hugo-shortcode-roneo-collection.git

[submodule "themes/hugo-book-nat"]
	path = themes/hugo-book-nat
	url = https://github.com/nattyright/hugo-book.git
