@import url(https://fonts.googleapis.com/css?family=Fira+Sans:200,400,500);
 * {
	 border: 0;
	 margin: 0;
	 padding: 0;
}
 html {
	 height: 100%;
}
 body {
	 height: inherit;
	 display: flex;
	 flex-direction: column;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
	 color: #79838c;
}
 a {
	 color: #283747;
	 text-decoration: none;
}
/*
 a:hover {
	 color: #383e44;
}
*/

a:hover:not(.active) {
	 text-decoration: underline;
}

 #timeline {
	 position: relative;
	 display: table;
	 height: 100%;
	 margin-left: auto;
	 margin-right: auto;
	 margin-top: 5rem;
}
/* vertical line */
 #timeline div:after {
	 content: '';
	 width: 2px;
	 position: absolute;
	 top: 0.5rem;
	 bottom: 0rem;
	 left: 9rem;
	 z-index: 1;
	 background: #c5c5c5;
}
/* season count (left of vertical line) */
 #timeline h3 {
	 position: -webkit-sticky;
	 position: sticky;
	 top: 5rem;
	 color: #888;
	 margin: 0;
	 margin-left: 1em;
	 font-size: 1em;
	 font-weight: 400;
}
 @media (min-width: 68em) {
	 #timeline h3 {
		 font-size: 1.1em;
	}
}
 #timeline section.year {
	 position: relative;
}
 #timeline section.year:first-child section {
	 margin-top: -1.3em;
	 padding-bottom: 0px;
}
 #timeline section.year section {
	 position: relative;
	 padding-top: 2.75em;
	 margin-top: 1.2em;
}
 #timeline section.year section h4 {
	 position: absolute;
	 top: 0;
	 font-size: 1.4em;
	 font-weight: 400;
	 line-height: 1.2em;
	 margin: 0;
	 margin-left: 3em;
	 padding: 0 0 0 89px;
	 color: mediumseagreen;
}
 @media (min-width: 68em) {
	 #timeline section.year section h4 {
		 font-size: 1.4em;
	}
}
 #timeline section.year section ul {
	 list-style-type: none;
	 padding: 0 0 0 75px;
	 margin: -0.6rem 0 1rem 5rem;
	 max-width: 60rem;
	 font-size: 15px;
}
 @media (min-width: 68em) {
	 #timeline section.year section ul {
		 font-size: 15px;
		 padding: 0 0 0 81px;
	}
}

@media (max-width:  68em) {
	#timeline div:after,
	#timeline section.year section ul:first-of-type:after {
		display: none;
	}
	#timeline {
		margin-top:  -3em;
	}

	#timeline section.year section ul,
	#timeline section.year section h4 {
		padding:  0 0 0 0em;
	}
	#timeline h3 {
		margin-left: 1em;
		top: 0em;
		text-align: center;
		position:  relative;

	}
	#timeline section.year {
		margin-top: 3em;
	}
	#timeline section.year section {
		margin-top:  1em;
	}
}

 #timeline section.year section ul:last-child {
	 margin-bottom: 0;
}
 #timeline section.year section ul:first-of-type:after {
	 content: '';
	 width: 10px;
	 height: 10px;
	 background: #c5c5c5;
	 border: 2px solid #fff;
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 border-radius: 50%;
	 position: absolute;
	 left: 140px;
	 top: 8px;
	 z-index: 2;
}
 #timeline section.year section ul li {
 	 list-style-type: none;
	 margin-left: 0.5rem;
	 padding: 0;
}

li{
	margin-right: 0;
}

 #timeline section.year section ul li:before {
	 content: '·';
	 margin-left: -0.5rem;
	 padding-right: 0.3rem;
	 padding: 0;
}
 #timeline section.year section ul li:not(:first-child) {
	 margin-top: 0.5rem;
}

 

 /* faction colors */
.red, .red a{
	color: #731723;
}

.black, .black a {
	color:  #283747;
}
