/* The emerging W3C standard
   that is currently Firefox-only */
* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome/Edge/Safari */
*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  /*background: #ddb97e;*/
  background: transparent;
  margin-top: 195px;
  margin-bottom: 75px;
}

*::-webkit-scrollbar-thumb {
  
  background:rgba(255,255,255,0.3);
  background: #283747;
  background:rgba(40,55,71,0.3);
  opacity: 0.5;
  border-radius: 50px;
  
  /*
  background-color: #222222;
  border-radius: 0px;*/
  /*border: 3px solid #ddb97e;*/
}



*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.bg {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.7;
  width: 100%;
  height: 100%;
}


.slider__warpper {
    position: relative;
}


.slider__navi {
	position: absolute;
	top: 50%;
	right: 1%;
    left: 76%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	z-index: 999;
}
/*
@media all and (min-width: 1000px) {
    .slider__navi {
        left: 760px;
        width: 230px;
    }
}
*/
.slider__navi a {
	display: block;
	/*height: 6px;
	width: 20px;
	margin: 20px 0;
	text-indent: -9999px;*/
    
    line-height:30px;
    
    text-align: center;
    text-decoration: none;
    
    margin: 5px 0;
    
	box-shadow: none;
    
	color: white;
	background: rgba(0,0,0,0.0);
    
}

.slider__navi a:hover:not(.active) {
	 text-decoration: underline;
}

.slider__navi a.active {
    color: black;
	background: rgba(255,255,255,1);
}

body {
	position: relative;
	font-size: 100%;
	font-family: 'Helvetica', sans-serif;
	font-weight: 400;
	min-height: 100vh;
}

.flex__container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap; 
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	height: 100vh;
	width: 100%;
	z-index: 1;
}

.flex__container.flex--active {
	z-index: 2;
}

.text--sub {
	font-size: 12px;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.text--big {
	font-family: 'Poppins', sans-serif;
	font-size: 4em;
	font-weight: 700;
	line-height: 110px;
    margin-left: 0px;
}

.text--normal, ol {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
    color: #283747;
	line-height: 22px;
	margin-top: 25px;
}

.text__background {
	font-family: 'Poppins', sans-serif;
	position: absolute;
	left: 72px;
	bottom: -60px;
	color: rgba(0,0,0,0.05);
	font-size: 170px;
	font-weight: 700;
}

.flex__item {
	height: 100vh;
	color: #fff;
    color: #283747;
	transition: transform 0.1s linear;
}

.flex__item--left {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	width: 75%;
    /*max-width:750px;*/
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
}

.flex__item--right {
	width: 25%;
    /*max-width:250px;*/
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
	opacity: 1;
}


/* tldr */

.flex--tldr .flex__item--left {
    background: #424242;
	background: #f3f3f3;
}

.flex--tldr .flex__item--right {
	background: #a7bcbb;
    background: #b0b0b0;
}

/* history */

.flex--history .flex__item--left {
    background: #424242;
	background: #f3f3f3;
}

.flex--history .flex__item--right {
	background: #a7bcbb;
    background: #004E7C;
}

/* magic */

.flex--magic .flex__item--left {
	background: #574f4f;
    background: #f3f3f3;
}

.flex--magic .flex__item--right {
	background: #bca7b4;
    background: #145e7a;
    
}

/* infrastructure */

.flex--infrastructure .flex__item--left {
	background: #424242;
    background: #f3f3f3;
}

.flex--infrastructure .flex__item--right {
	background: #a7bcbb;
    background: #266150;
}

/* location */

.flex--location .flex__item--left {
	background: #574f4f;
    background: #f3f3f3;
}

.flex--location .flex__item--right {
	background: #bca7b4;
    background: #283747;
}

/* servants */

.flex--servants .flex__item--left {
	background: #424242;
    background: #f3f3f3;
}

.flex--servants .flex__item--right {
	background: #a7bcbb;
    background: #8f3c47;
}

/* summoning */

.flex--summoning .flex__item--left {
	background: #574f4f;
    background: #f3f3f3;
}

.flex--summoning .flex__item--right {
	background: #bca7b4;
    background: #993976;
}

/* church */

.flex--church .flex__item--left {
	background: #424242;
    background: #f3f3f3;
}

.flex--church .flex__item--right {
	background: #a7bcbb;
    background: #c99e57;
}

.flex__content {
	margin-left: 80px;
    margin: auto;
	width: 85%;
    max-width: 1000px;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
    
    height: 90vh;
    padding-right:30px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: justify;
}

.pokemon__img {
	position: absolute;
	bottom: 20px;
	right: 15%;
	max-height: 40vw;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

.subtitlepic {
  display: block;
  margin-left: auto;
  margin-right: auto;

  width: 5%;
  border-radius: 50%;
  padding: 1px;
  /*background-color: #ddb97e;*/
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}

.flex__container.animate--start .pokemon__img {
	transform: translate3d(-200px,0,0);
	opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
	transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
	transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}

.flex__container.animate--end .pokemon__img {
	transform: translate3d(200px,0,0);
	opacity: 0;
}




/* sub pages */
.subslide__content {
    position: absolute;
    padding-right:30px;
    display: none;
}
.subslide--active{
    display: block;
}




.subslider__navi {
	z-index: 999;
    text-align: left;
}

.subslider__navi a {
    text-decoration: none;
    text-align: center;
    line-height: 22px;
    white-space: nowrap;
    
    
    margin: 20px 3px;
    padding: 1px 5px;
    color: white;
    color: #283747;
	box-shadow: none;
	background: rgba(0,0,0,0.1);
    background: f3f3f3;
    
}

.subslider__navi a.active {
    
    color: #f3f3f3;
	background: rgba(255,255,255,1);
    background: #283747;
    
}

li {
    list-style: decimal outside none;
    display: list-item;
    margin-left: 40px;
    margin-right: 60px;
}



i {
    font-style: italic;
}

b {
    font-weight: bold;
}

center {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}

sup {
    vertical-align: super;
}

sub {
    vertical-align: sub;
}