.flex-even.img-left {
	img {
		float: left;
		margin-right: 20px;
		max-width: 300px !important;
	}
}

.flex-even.img-right {
	img {
		float: right;
		margin-right: 20px;
		max-width: 300px !important;
	}
}