/* Customise or override scss styles */
$h1-color: #c14343;

/* Shortcode Hacks*/
/* [columns] support inline image */
.flex-even.img-left {
	img {
		float: left;
		margin-right: 20px;
		max-width: 300px !important;
	}
}
.flex-even.img-right {
	img {
		float: right;
		margin-left: 20px;
		max-width: 300px !important;
	}
}
/* Tupper Mimic Styling */
.tupper-box {
	display: flex;
	flex-direction: row;
	margin-bottom: 20px;
	.tupper-left {
		width: 50px;
		margin-right: 14px;
		img {
			display: block;
			object-fit: cover;
			margin: auto;
			width: 45px;
			height: 45px;
			border-radius: 50%;
			background-color:white;
		}
	}
	.tupper-right {
		width: calc(100% - 60px);
		.tupper-name {
			margin-bottom: -18px;
			margin-top: -5px;
			font-size: 18px;
			font-weight: 700;
			color: #eeeeee;
		}
	}
}
/* ID Card Styling */
/* Tupper Mimic Styling */
.idcard-box {
	display: flex;
	flex-direction: row;
	padding: 0 0;
	max-width: 700px;
	max-height: 500px;
	margin-left: auto;
	margin-right: auto;

	background-color: rgba(255,255,255,0.1);
	border-radius: 10px;
	border: 1px dashed rgba(255,255,255,0.1);

	.idcard-left {
		width: 50%;
		position: relative;
		.idcard-left-content {
			position: absolute;
			top: 15px;
			width: 100%;
			.idcard-left-name {
				font-size: 50px;
				text-align: center;
				line-height: 40px;
				padding: 0 10px;
			}
			.idcard-left-alias {
				margin-top: 5px;
				text-align: center;
			}
			.idcard-left-table {
				background: URL("https://i.imgur.com/0uTY30N.png") rgba(255,255,255,1);
				border-radius: 10px;
				width: 140%;
				height: 50%;
				height: 300px;
				margin-left: -20px;
				padding: 20px 0;
				margin-bottom: 40px;
				transform: rotate(8deg);
				margin-left: -10px;
				margin-top: 5px;
				box-shadow: 11px 4px 13px #000;
				-webkit-backface-visibility: hidden; /* Get rid of anti-aliasing for transformed images */
				.idcard-left-table-topbar {
					height: 10px;
					margin-left: 30px;
					margin-top: 10px;
					background-color: #d14e4e;
				}
				table {
					margin-left: 31px;
					margin-top: 5px;
					width: 65%;
					height: 197px;
					font-size: 18px;
					font-family: Montserrat;
					tr {
						background: none !important;
						border-bottom: 2px solid red;
						td {
							padding: 1px 0;
							width: 100%;
							border: none !important;
						}
						td:nth-child(1) {
							font-weight: 900;
							text-align: left;
							width: 25%;
						}
						td:nth-child(2) {
							text-align: right;
							width: 300px;
						}
					}
					tr:last-child {
						border-bottom: none;
					}
				}
				.idcard-left-table-bottombar {
					height: 10px;
					margin-left: 30px;
					background-color: #d14e4e;
				}
			}

		}

	}
	.idcard-right {
		width: 50%;
		min-width: 300px;
		position: relative;
		border-radius: 10px;
		background-color: rgba(0, 0, 0, 0.9);		
		box-shadow: -5px 0px 10px rgba(0,0,0,0.5);
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			margin: auto;
			background-color:white;
			border-radius: 10px;

			
		}

		.thaum-apt {
			position: absolute;
			z-index: 999;

			//center element with position absolute
			left: 0;
			right: 0;
			margin-left:auto;
			margin-right:auto;

			bottom: 20px;
			font-size: 15px;
			//line-height: 18px;
			text-align: center;
			color: rgba(50,50,50,0.8);

			.idcard-right-title {
				font-size: 17px;
				font-weight: 500;
			}
		}

		.idcard-right-gradient {
			position: absolute;
			z-index: 800;
			bottom: 0;
			left: 0;
			right: 0;
			width: 100%;
			height: 40%;
			background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(255,255,255,0.5), rgba(255,255,255,0.7), rgba(255,255,255,0.8));
			border-radius: 10px;
		}
	}
}


/* Text */
h1, h2, h3, h4, h5, h6 { font-weight: 600 !important; }
h1, h2, h3, h4 { color: $h1-color; }
h5 { color: gray; }
h6 { color: lightgray; }
em, .cm-em { color: #69b597; }

/* Main Page Layout */
.container {
	max-width: 90em;

	.book-menu {
		nav {
			padding-top: 10px;

			li {
				font-size: 14px;
			}
		}
		.book-brand span{
			margin: auto;
			color: $h1-color;
			font-weight: 600;
			font-size: 22px;
		}

	}
	.book-page {
		padding-top: 13em;
		padding-left: 40px;
		padding-right: 40px;
		height: 100%;
	
		.book-header-pc {
			height: 100px;
			color: $h1-color;
			font-size: 70px;
			margin-bottom: 10px;
		}
	}
	.book-toc {
		nav {
			padding-top: 10px;

			li {
				font-size: 14px;
			}
		}
		
	}
}

/* Dark Theme */
body {
	background: #0b0f13;

	.book-menu-content {
		background: #0b0f13 !important;
	}
	.book-page {
		background: #1a1e24;
	}

}