/* font */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

body {
    font-family: 'Rajdhani', sans-serif;
  }