/* [columns] support inline image */
.flex-even.img-left {
	img {
		float: left;
		margin-right: 20px;
		max-width: 300px !important;
	}
}
.flex-even.img-right {
	img {
		float: right;
		margin-left: 20px;
		max-width: 300px !important;
	}
}


.flex-even.img-left.medium,
.flex-even.img-right.medium {
	img {
		max-width: 250px !important;
		max-height: 450px !important;
	}
}


.flex-even.markdown-inner {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}