{{ $names := index .Site.Data "names" }}
{{ $name := index $names (.Get "name") }}
{{ $idURL := index $name "idcard" }}
{{ $profile := index .Site.Data.idcard $idURL }}
<style>

    /* Custom CSS styling that is character unique */
    [class^='{{ index $profile "name" }}_'][class$="_custom-primary-color"] {
        font-weight: {{ index $profile "primary_font_weight"}};
        -webkit-text-stroke: {{ index $profile "primary_text_border_color"}};
        color: {{ index $profile "primary_text_color"}};
    }

    [class^='{{ index $profile "name" }}_'][class$="_custom-secondary-color"] {
        font-weight: {{ index $profile "secondary_font_weight"}};
        -webkit-text-stroke: {{ index $profile "secondary_text_border_color"}};
        color: {{ index $profile "secondary_text_color"}}
    }

    [class^='{{ index $profile "name" }}_'][class$="_idcard-left-table-rightphoto"] {
        background-image: URL(' {{ index $profile "imglink" }} ');
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
        -webkit-backface-visibility: hidden; /* Get rid of anti-aliasing for transformed images */

        height: 216px;
        width: 130px;
        float: right;
        border: 2px solid #d14e4e;
    }
    
</style>


<div class="idcard-box">
    <div class="idcard-left">
        <div class="idcard-left-content">

            <i class="fa fa-paperclip"></i>

            <div class="idcard-left-table">
                <div class="idcard-left-table-topbar"></div>
                <div class='{{ index $profile "name" }}__idcard-left-table-rightphoto'></div>
                <table class="tg">
                    <tbody>
                        <tr>
                            <td class="idcard-table-title"> <span class='{{ index $profile "name" }}__custom-primary-color'>GENDER </span></td>
                            <td> <span class='{{ index $profile "name" }}__custom-secondary-color'>{{ index $profile "gender" }} </span></td>
                        </tr>
                        <tr>
                            <td class="idcard-table-title"> <span class='{{ index $profile "name" }}__custom-primary-color'>AGE </span></td>
                            <td> <span class='{{ index $profile "name" }}__custom-secondary-color'>{{ index $profile "age" }} </span></td>
                        </tr>
                        <tr>
                            <td class="idcard-table-title"> <span class='{{ index $profile "name" }}__custom-primary-color'>HEIGHT </span></td>
                            <td> <span class='{{ index $profile "name" }}__custom-secondary-color'>{{ index $profile "height" }} </span></td>
                        </tr>
                        <tr>
                            <td class="idcard-table-title"> <span class='{{ index $profile "name" }}__custom-primary-color'> WEIGHT </span></td>
                            <td> <span class='{{ index $profile "name" }}__custom-secondary-color'>{{ index $profile "weight" }} </span></td>
                        </tr>
                        <tr>
                            <td class="idcard-table-title"> <span class='{{ index $profile "name" }}__custom-primary-color'>AFFILIATION </span></td>
                            <td> <span class='{{ index $profile "name" }}__custom-secondary-color'>{{ index $profile "affiliation" }} </span></td>
                        </tr>
                        <tr>
                            <td class="idcard-table-title"> <span class='{{ index $profile "name" }}__custom-primary-color'>PROFESSION </span></td>
                            <td> <span class='{{ index $profile "name" }}__custom-secondary-color'>{{ index $profile "profession" }} </span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="idcard-left-table-bottombar"></div>
            </div>
            <div class="idcard-left-name"> 
                <span class='{{ index $profile "name" }}__custom-primary-color'>{{ index $profile "name" }} </span>
            </div>
            <div class="idcard-left-alias">
                @ <span class='{{ index $profile "name" }}__custom-secondary-color'>{{ index $profile "alias" }}</span>
            </div>
            
        </div>


 
    </div>
    <div class="idcard-right">

        <div class="thaum-apt">
            <!--<i class="fa fa-star"></i>-->

            <div class="idcard-right-title"><span class='{{ index $profile "name" }}__custom-primary-color'>—Origin—</span></div>
            <div> <span class='{{ index $profile "name" }}__custom-secondary-color'>{{ index $profile "origin" }}</span> </div>
            <div class="idcard-right-title"><span class='{{ index $profile "name" }}__custom-primary-color'>—Affinity—</span></div>
            <div> <span class='{{ index $profile "name" }}__custom-secondary-color'>{{ index $profile "affinity" }} </span></div>
            <div class="idcard-right-title"><span class='{{ index $profile "name" }}__custom-primary-color'>—Natural Magic Circuit—</span></div>
            <div> <span class='{{ index $profile "name" }}__custom-secondary-color'>{{ index (index (index $profile "circuit") "natural") "rank" }} </span></div>
            <div class="idcard-right-title"><span class='{{ index $profile "name" }}__custom-primary-color'>—Artificial Magic Circuit—</span></div>
            <div> <span class='{{ index $profile "name" }}__custom-secondary-color'> {{ index (index (index $profile "circuit") "artificial") "rank" }} </span></div>
        </div>
        <span class="idcard-img">
            <img src='{{ index $profile "imglink" }}'>
            </span>
            <div class="idcard-right-gradient"></div>
    </div>
</div>


