html {
    height: 100%;
    background: #1a1a1a;
    color: #3c4043;
    font-family: "Roboto", Helvetica, sans-serif; }
body {
    overflow-y: hidden;
    height: 100%;
}

.sidebar .sidebar-nav {
    width: 120px;
    padding-bottom: 5px;
}

#map-header {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 9999;
}
#map-header h1 {
    margin-top: 0;
}


.info-panel-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 408px;

    background: #1a1a1a;
    white-space: normal;
    text-align: left;  
    
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
    z-index: 9999999;
}
.info-panel-left.show {
    visibility: visible;
    opacity: 1;
}
#info-panel-img {
    display: block;
    width: 100%;
    height: 240px;
    cursor: pointer;
    object-fit: cover;
}
#info-panel-name {
    padding: 16px 24px 4px 24px;
    font-size: 1.375rem;
}
#info-panel-sub-name {
    padding: 0px 24px 16px 24px;
    font-size: 14px;
}
#info-panel-quick-facts {
    padding: 18px 24px 0px 24px;
    font-size: 1rem;
    font-weight: 500;
}
#info-panel-desc {
    padding: 16px 24px;
    font-size: 0.875rem;
    white-space: pre-line;
}
.horizontal-line {
    border-bottom: 1px solid #e8eaed;
    display: block;
}






.info-panel-right.show {
    position: fixed;
    top: 0;
    right: 0;
    height: 300px;
    width: 220px;

    background: #1a1a1a;
    white-space: normal;
    text-align: center;

    visibility: visible;
    opacity: 1;

    border: 1px solid #dbc36c;
    border-radius: 5px;
}
.info-panel-left {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.1s linear;
}
.menu{
    text-align: center;
}
#menu-title {
    padding: 10px 24px 10px 24px;
    font-size: 1.5rem;
}
.menu-item {
    padding: 2px;
}
#district-img-wrapper {
    background-size: cover;
}
#district-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
    max-width: 200px;
    width: auto;
}







#info-panel-right-close {
    position: relative;
    top: 0;
    right: 23px;
    width: 23px;
    height: 47px;
    background: #1a1a1a;
    border: 1px solid #dbc36c;
    border-radius: 5px;
    cursor: pointer;
}
#info-panel-right-open {
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 47px;
    background: #1a1a1a;
    border: 1px solid #dbc36c;
    border-radius: 5px;
    cursor: pointer;
}

.arrow {
  border: solid #dbc36c;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 4px;
  margin-left: 7px;
  margin-top: 18px;
  position: absolute;
}
.right {
  position: absolute;
  margin-left: -8px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  margin-left: -4px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}





.map-panel {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

#svg-object {
    display: block;
    margin: auto;
}