html {
  background: #1a1a1a;
  color: #e5e5e5;
  text-align: center;
  font-family: "Roboto", Helvetica, sans-serif; }

h1, .description, .sidebar-content {
  
}

body {
  min-width: 1300px;

  overflow-x: hidden; }

.description {
  max-width: 600px;
  margin: 0 auto;
  color: rgba(229, 229, 229, 0.7); }

div, img, footer {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  font-weight: 300; }

h1 {
  font-size: 36pt;
  font-family: "Roboto", sans-serif;
  font-weight: 700; }

h2 {
  font-size: 24pt;
  font-weight: 700; }

h3 {
  font-size: 18pt;
  font-weight: 500; }

h4 {
  font-size: 16pt;
  font-weight: 500; }

h5 {
  font-size: 14pt; }

h6 {
  font-size: 12pt; }

h7 {
  color: lightslategray;
}

p {
  font-size: 12pt;
  font-family: "Roboto Condensed", sans-serif;
  margin-bottom: 12pt; }

li {
  list-style-type: circle;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  letter-spacing: 0.1pt;
  margin-bottom: 5pt; }

.sidebar p, .map-point p, .map-point-battle p {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  line-height: 1.5em;
  font-weight: 300;
  letter-spacing: 0.1pt; }
.sidebar h2, .map-point h2, .map-point-battle h2 {
  margin-bottom: 10px; }

strong {
  font-weight: 900;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  color: #e5e5e5; }

a {
  -moz-transition: color 0.25s ease-in-out;
  -o-transition: color 0.25s ease-in-out;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
  font-family: "Roboto Condensed", Helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: #dbc36c; }
  a:visited {
    color: #dbc36c; }
  li.active a, a:hover, a:active {
    color: #e5e5e5; }

.district1 {
  color: indianred; }

.district2 {
  color: cornflowerblue; }

.district3 {
  color: springgreen; }

.district4 {
  color: aquamarine; }

.district5 {
  color: sandybrown; }

.district6 {
  color: seashell; }

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.centered-y {
  position: absolute;
  width: 100%;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

@media only screen and (max-width: 1000px) {
  body {
    overflow: auto; } }
@media only screen and (max-width: 500px) {
  body {
    width: 100%;
    min-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0; }
    body .sidebar {
      position: absolute;
      width: 100%;
      top: 55%;
      left: auto; }
      body .sidebar .sidebar-content {
        width: 78%;
        padding-right: 10px;
        height: auto;
        overflow-y: none;
        display: block; }
      body .sidebar .sidebar-nav {
        width: 22%;
        left: 75%; } }
.imagetab {
  position: fixed;
  right: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  opacity: 0.5;
  z-index: -1; }
  .imagetab img {
    width: 100%;
    height: 100%; }

.sidebar {
  position: absolute;
  left: 0%;
  top: 0%;
  width: 420px;
  height: 100vh;
  padding-top: 20px;
  z-index: 999;
  text-align: left; }
  .sidebar .sidebar-nav {
    position: absolute;
    margin-left: 20px;
    padding: 30px 5px 0 5px;
    left: 400px;
    line-height: 2;
    background: rgba(26, 26, 26, 0.85); }
    .sidebar .sidebar-nav .active {
      color: #e5e5e5;
      background: #b5972c; }
      /*
    .sidebar .sidebar-nav.hide {
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.2s, opacity 0.2s linear; }
      */
  .sidebar .sidebar-content {
    position: absolute;
    padding: 30px;
    opacity: 0;
    display: none;
    height: calc(100% - 40px);
    overflow-y: scroll; }
    @media only screen and (min-width: 500px) {
      .sidebar .sidebar-content::-webkit-scrollbar {
        width: 18px; }
      .sidebar .sidebar-content::-webkit-scrollbar-thumb {
        background: rgba(181, 151, 44, 0.8);
        border-radius: 25px;
        border: 7px solid transparent;
        background-clip: padding-box; }
      .sidebar .sidebar-content::-webkit-scrollbar-track {
        background: transparent; }
      .sidebar .sidebar-content {
        scrollbar-face-color: #b5972c;
        scrollbar-track-color: transparent; } }
    @media only screen and (max-width: 500px) {
      .sidebar .sidebar-content::-webkit-scrollbar {
        display: none; } }
  .sidebar .flex--active {
    opacity: 1;
    width: 100%;
    background: rgba(26, 26, 26, 0.85);
    display: block; }

.distribution-map {
  position: relative;
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto; }
  .distribution-map > img {
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0; }
  .distribution-map .map-point, .distribution-map .map-point-battle {
    cursor: pointer;
    outline: none;
    z-index: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -moz-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -o-transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out, z-index 0.25s ease-in-out;
    -webkit-transition-delay: 0.25s, 0.25s, 0.25s, 0.25s;
    transition: opacity 0.25s ease-in-out 0.25s, width 0.25s ease-in-out 0.25s, height 0.25s ease-in-out 0.25s, z-index 0.25s ease-in-out 0.25s;
    background: none;
    border: none; }
    .distribution-map .map-point .material-icons, .distribution-map .map-point-battle .material-icons {
      position: absolute;
      margin: -10px -10px 0 -12px; }
    .distribution-map .map-point .content, .distribution-map .map-point-battle .content {
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
      opacity: 0;
      -moz-transition: opacity 0.25s ease-in-out;
      -o-transition: opacity 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out;
      width: 100%;
      height: 100%;
      left: 50%;
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      overflow: overlay; }
    .distribution-map .map-point:active, .distribution-map .map-point:focus, .distribution-map .map-point-battle:active, .distribution-map .map-point-battle:focus {
      border-radius: 5px;
      margin: 0;
      padding: 25px 17px 20px 17px;
      text-align: left;
      filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
      opacity: 1;
      width: 320px;
      height: 400px;
      color: #e5e5e5;
      z-index: 9999;
      -moz-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
      -o-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
      -webkit-transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
      transition: opacity 0.25s ease-in-out, width 0.25s ease-in-out, height 0.25s ease-in-out;
      background: rgba(26, 26, 26, 0.85);
      border: 3.33333px solid #b5972c; }
      .distribution-map .map-point:active .content, .distribution-map .map-point:focus .content, .distribution-map .map-point-battle:active .content, .distribution-map .map-point-battle:focus .content {
        filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
        opacity: 1;
        -moz-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
        -o-transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
        -webkit-transition: opacity 0.25s ease-in-out, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
        -webkit-transition-delay: 0.25s, 0s, 0s;
        transition: opacity 0.25s ease-in-out 0.25s, height 0.25s ease-in-out, overflow 0.25s ease-in-out;
        overflow: hidden; }
        .distribution-map .map-point:active .content a:hover, .distribution-map .map-point:active .content a:active, .distribution-map .map-point:focus .content a:hover, .distribution-map .map-point:focus .content a:active, .distribution-map .map-point-battle:active .content a:hover, .distribution-map .map-point-battle:active .content a:active, .distribution-map .map-point-battle:focus .content a:hover, .distribution-map .map-point-battle:focus .content a:active {
          color: #d1b243; }
      .distribution-map .map-point:active .material-icons, .distribution-map .map-point:focus .material-icons, .distribution-map .map-point-battle:active .material-icons, .distribution-map .map-point-battle:focus .material-icons {
        opacity: 0; }
  .distribution-map .map-point-battle .material-icons {
    color: red; }
  .distribution-map .map-point-battle:active, .distribution-map .map-point-battle:focus {
    background: rgba(26, 26, 26, 0.85);
    border: 3.33333px solid red; }
